
App Component

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="#" (click)="changeSection(1)">Home Page</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="changeSection(2)">Add Movies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="changeSection(3)">Delete Movies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="changeSection(4)">Delete Movies Between</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="changeSection(5)">Delete Movies Title</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="changeSection(6)">Add Actor</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="changeSection(7)">Add Actor To Movies</a>
  </li>
</ul>

<div class="card" *ngIf="section == 1">
  <div class="card-body">
    Section 1
    <app-list-movies></app-list-movies>
    
  </div>
</div>

<div class="card" *ngIf="section == 2">
  <div class="card-body">
    Section 2
    
    <app-add-movies></app-add-movies>
  </div>
</div>
<div class="card" *ngIf="section == 3">
  <div class="card-body">
    Section 3
    <app-delete-movies></app-delete-movies>
    
  </div>
</div>

<div class="card" *ngIf="section == 4">
  <div class="card-body">
    Section 4
    <app-delete-between></app-delete-between>
    
  </div>
</div>
<div class="card" *ngIf="section == 5">
  <div class="card-body">
    Section 5
    <app-delete-movie-title></app-delete-movie-title>
    
  </div>
</div>

<div class="card" *ngIf="section == 6">
  <div class="card-body">
    Section 6
    <app-add-actor></app-add-actor>
    
  </div>
</div>

<div class="card" *ngIf="section == 7">
  <div class="card-body">
    Section 7
    <app-add-actor-to-movies></app-add-actor-to-movies>
    
  </div>
</div>